.main__container {
  display: flex;
}

aside {
  background: #001529;
  min-height: fit-content;
}

.second__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
